@{ 
    string avt = "";
    if (Session["Avt"] != null)
    {
        avt = Session["Avt"].ToString();
    }
    else
    {
        avt = "~/Template/app-assets/img/user.png";
    }
}
<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Convex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Convex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Meeting VL</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/Template/app-assets/img/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Template/app-assets/img/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Template/app-assets/img/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Template/app-assets/img/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Template/app-assets/img/LogoVL.png">
    <link rel="shortcut icon" type="image/png" href="~/Template/app-assets/img/LogoVL.png">


    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/prism.min.css">
    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tables/datatable/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/tagging.css">

    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/katex.min.css">
    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/monokai-sublime.min.css">
    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/quill.snow.css">

    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/css/app.css">

    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/toastr.css">
    <link rel="stylesheet" type="text/css" href="~/Template/app-assets/vendors/css/wizard.css">

    @RenderSection("scripts", required: false)

</head>
<body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">

        <div data-active-color="white" data-background-color="aqua-marine" data-image="@Url.Content("~/Template/After_Login/sidebar_VanLang.jpg")" class="app-sidebar">
            <div class="sidebar-header">
                <div class="logo clearfix">
                    <a href="@Url.Action("After_Login", "Categories")" class="logo-text float-left">
                        <div class="logo-img">
                            <img src="~/Template/app-assets/img/LogoVL.png" alt="Convex Logo" />
                        </div>

                        <span class="text align-middle"> VanLang</span>

                    </a><a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i data-toggle="expanded" class="ft-disc toggle-icon"></i></a><a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-circle"></i></a>
                </div>
            </div>
            <div class="sidebar-content">
                <div class="nav-container">
                    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

                        @if (Session["Role"].ToString() == "Admin")
                        {
                            <li class="nav-item">
                                <a href="@Url.Action("Dashboard","Users")"><i class="icon-home"></i><span data-i18n="" class="menu-title">Dashboard</span></a>
                            </li>
                            <li class=" nav-item">
                                <a href="@Url.Action("Index","Users")"><i class="icon-users"></i><span data-i18n="" class="menu-title">Users</span></a>
                            </li>
                        }
                        <li class=" nav-item">
                            <a href="@Url.Action("MyProfile", "Users")"><i class="icon-user-following"></i><span data-i18n="" class="menu-title">My Profile</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "Categories")"><i class="icon-folder"></i><span data-i18n="" class="menu-title">Category</span></a>
                        </li>

                        <li class="nav-item">
                            <a href="@Url.Action("Index", "ProjectParticipants")"><i class="icon-notebook"></i><span data-i18n="" class="menu-title">My Project</span></a>
                        </li>

                        <li class=" nav-item">
                            <a href="@Url.Action("Index", "Notifications")"><i class="ft-bell white"></i><span data-i18n="" class="menu-title">Notifications</span></a>
                        </li>
                        <li class=" nav-item">
                            <a href="~/Content/Files/SEP_Team13_UserGuide-ver0.3.pdf" target="_blank"><i class="ft-book white"></i><span data-i18n="" class="menu-title">User Guide</span></a>
                        </li>
                        <li class=" nav-item">
                            <a href="@Url.Action("SignOut", "Account")"><i class="fa fa-sign-in"></i><span data-i18n="" class="menu-title">Logout</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-background"></div>
        </div>


        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" class="navbar-toggle d-lg-none float-left"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><span class="d-lg-none navbar-right navbar-collapse-toggle"><a class="open-navbar-container"><i class="ft-more-vertical"></i></a></span>


                    <p class="d-none">cart</p>
                    </a>

                </div>
                <div class="navbar-container">
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav">


                            @Html.Action("Notification_header", "Notifications")


                            <li class="dropdown nav-item mr-0">
                                <a id="dropdownBasic3" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-user-link dropdown-toggle">
                                    @Session["ID_User"].ToString()
                                    <span class="avatar avatar-online"><img id="navbar-avatar" src="@Url.Content(avt)" alt="avatar" /></span>
                                    <p class="d-none">User Settings</p>
                                </a>
                                <div aria-labelledby="dropdownBasic3" class="dropdown-menu dropdown-menu-right">
                                    <div class="arrow_box_right">
                                        <a href="@Url.Action("MyProfile", "Users")" class="dropdown-item py-1"><i class="ft-edit mr-2"></i><span>My Profile</span></a>

                                        <div class="dropdown-divider"></div><a href="@Url.Action("SignOut", "Account")" class="dropdown-item"><i class="ft-power mr-2"></i><span>Logout</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
       
        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <div class="container-fluid">
                        <!-- Zero configuration table -->
                        <!-- Alternative pagination table -->
                        @if (Session["notification"] != null)
                        {
                            <button type="button" hidden class="btn btn-lg btn-block btn-outline-success mb-2" id="type-success" onclick="test()">Success</button>
                            <script>
            function test() {
                toastr.success('@Session["notification"].ToString()', 'Success');
            }
            window.onload = function () {
                document.getElementById('type-success').click();
            }
                            </script>
                            Session["notification"] = null;
                        }
                        @RenderBody()
                    </div>
                </div>
            </div>
            <footer class="footer footer-static footer-light">
                <p class="clearfix text-muted text-center px-2"><span>Copyright by EASY LIFE - SEPK25, All rights reserved. </span></p>
            </footer>
        </div>
    </div>
    
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- BEGIN VENDOR JS-->
    <script src="~/Template/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/core/popper.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/core/bootstrap.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/prism.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/jquery.matchHeight-min.js"></script>
    <script src="~/Template/app-assets/vendors/js/screenfull.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/pace/pace.min.js"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/Template/app-assets/vendors/js/datatable/datatables.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/datatable/dataTables.buttons.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/datatable/buttons.flash.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/datatable/jszip.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/datatable/pdfmake.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/datatable/vfs_fonts.js"></script>
    <script src="~/Template/app-assets/vendors/js/datatable/buttons.html5.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/datatable/buttons.print.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN CONVEX JS-->
    <script src="~/Template/app-assets/js/app-sidebar.js"></script>
    <script src="~/Template/app-assets/js/notification-sidebar.js"></script>
    <!-- END CONVEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/Template/app-assets/js/data-tables/datatable-advanced.js"></script>
    <script src="~/Template/app-assets/js/data-tables/datatable-basic.js"></script>
    <script src="~/Template/app-assets/js/data-tables/datatable-api.js"></script>
    <script src="~/Template/app-assets/js/components-modal.min.js"></script>

    <script src="~/Template/app-assets/vendors/js/toastr.min.js"></script>
    <script src="~/Template/app-assets/js/toastr.min.js"></script>
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/Template/app-assets/vendors/js/tagging.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/prism.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/Template/app-assets/js/tagging.js"></script>
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/Template/app-assets/vendors/js/katex.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/highlight.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/quill.min.js"></script>
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/Template/app-assets/js/quill.min.js"></script>
    <!-- END PAGE LEVEL JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/Template/app-assets/js/wizard-steps.js"></script>
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/Template/app-assets/vendors/js/jquery.steps.min.js"></script>
    <script src="~/Template/app-assets/vendors/js/pickadate/picker.js"></script>
    <script src="~/Template/app-assets/vendors/js/pickadate/picker.date.js"></script>
    <script src="~/Template/app-assets/vendors/js/pickadate/picker.time.js"></script>
    <script src="~/Template/app-assets/vendors/js/pickadate/legacy.js"></script>
    <script src="~/Template/app-assets/vendors/js/jquery.validate.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- END PAGE LEVEL JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/Template/app-assets/js/chat.js"></script>
    <!-- END PAGE LEVEL JS-->
    @*<script src="~/Template/app-assets/js/chartjs.js"></script>*@
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/Template/app-assets/js/table2excel.js"></script>
    <script type="text/javascript">
        (function ($) {
            $("#btnExport").click(function () {
                $("#tblCustomers").table2excel({
                    filename: "MeetingVL_Export.xls"
                });
                toastr.success('Export excel successfully', 'Success');
            });

    })(jQuery);
    </script>



    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


</body>
</html>

