@model MeetingVL.Models.SessionReport 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
    int no = 0;
    int project_id = int.Parse(TempData["project_id"].ToString());
    string project_Name = TempData["project_Name"].ToString();
    string project_Description = "";
    if (TempData["project_Description"] != null)
    {
        project_Description = TempData["project_Description"].ToString();
    }
    int category_id = int.Parse(TempData["category_id"].ToString());
    string category_Name = TempData["category_Name"].ToString();

}
@if (Session["notification"] != null)
{
    <button type="button" hidden class="btn btn-lg btn-block btn-outline-success mb-2" id="type-success" onclick="test()">Success</button>
    <script>
            function test() {
                toastr.success('@Session["notification"].ToString()', 'Success');
            }
            window.onload = function () {
                document.getElementById('type-success').click();
            }
    </script>
    Session["notification"] = null;
}

<section id="basic-tabs-components">
    <div class="col-sm-12">
        <ul class="header-controls-list">
            <li class="header-controls-item text-bold-400"><a href="@Url.Action("Index", "Categories")">Category</a></li>
            <ion-icon name="chevron-forward-outline" class="header-direction"></ion-icon>
            <li class="header-controls-item text-bold-400"><a href="@Url.Action("Index", "Projects", new {category_id = category_id })">@category_Name</a></li>
            <ion-icon name="chevron-forward-outline" class="header-direction"></ion-icon>
            <li class="header-controls-item text-bold-400">@project_Name</li>

        </ul>
    </div>
    <div class="row match-height">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">@project_Name</h4>
                        <p class="content-sub-header">@project_Description</p>

                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link @Session["List_SessionReport"].ToString()" id="base-tabX1" data-toggle="tab" aria-controls="tab1" href="#tab1" aria-expanded="true">Session Report</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Session["List_Member"].ToString()" id="base-tabX2" data-toggle="tab" aria-controls="tab2" href="#tab2">Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Session["List_Group"].ToString()" id="base-tabX3" data-toggle="tab" aria-controls="tab3" href="#tab3">Group</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Session["List_Semester"].ToString()" id="base-tabX3" data-toggle="tab" aria-controls="tab4" href="#tab4">Semester</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Session["List_Group"].ToString()" id="base-tabX3" data-toggle="tab" aria-controls="tab3" href="#tab5">Statistics</a>
                            </li>
                        </ul>
                        <div class="tab-content px-1 pt-1">
                            <div class="tab-pane @Session["List_SessionReport"].ToString()" id="tab1" aria-expanded="true" aria-labelledby="base-tabX1">
                                @Html.Action("List_SessionReport", "Session_Reports", new { project_id = project_id })
                            </div>
                            <div class="tab-pane @Session["List_Member"].ToString()" id="tab2" aria-labelledby="base-tabX2">
                                @Html.Action("List_member", "ProjectParticipants", new { project_id = project_id })
                            </div>
                            <div class="tab-pane @Session["List_Group"].ToString()" id="tab3" aria-labelledby="base-tabX3">
                                @Html.Action("List_Group", "ProjectParticipants", new { project_id = project_id })
                            </div>
                            <div class="tab-pane @Session["List_Semester"].ToString()" id="tab4" aria-labelledby="base-tabX3">
                                @Html.Action("Index", "Semesters", new { project_id = project_id })
                            </div>
                            <div class="tab-pane" id="tab5" aria-labelledby="base-tabX3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title-wrap bar-primary">
                                                    <a class="btn btn-social btn-round btn-min-width mr-2 mb-2 btn-Download" data-toggle="modal" data-target="#ExportExcel1">
                                                        <span class="ft ft-download"></span> Export Excel

                                                    </a>
                                                    <h4 class="card-title">Meeting minutes statistics</h4>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-block chartjs">
                                                    <canvas id="column-chart" height="400"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<table hidden id="tblCustomers" class="table" cellpadding="0" cellspacing="0">
    <tr>
        <th>Group</th>
        <th>Count</th>
    </tr>
    @Html.Action("List_Group", "ProjectParticipants", new { project_id = project_id, action = 1 })
</table>

<!-- Modal Bootstrap -->
<div class="modal fade text-left" id="myBootstrap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel35"> Add each report </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "Session_Reports"))
            {

                @Html.Hidden("project_id", project_id)
                @Html.Hidden("option", 1)
                @Html.Hidden("cycles", 1)
                <form>
                    <div class="modal-body">

                        <div class="row justify-content-md-center">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="projectinput1">Tilte Cycles per Time</label>
                                    <input type="text" id="projectinput1" class="form-control" name="tilte_Cycles"
                                           required="required" oninvalid="this.setCustomValidity('Please enter Tilte Cycles per Time')" oninput="setCustomValidity('')">
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="issueinput3">Date_Start</label>
                                    <input type="date" id="date-start" class="form-control" name="date_Start"
                                           data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened"
                                           required="required" oninvalid="this.setCustomValidity('Please enter date start')" oninput="setCustomValidity('')">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="issueinput4">Date_End</label>
                                    <input type="date" id="date-end" class="form-control" name="date_End"
                                           data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Fixed"
                                           required="required" oninvalid="this.setCustomValidity('Please enter date end')" oninput="setCustomValidity('')">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-outline-primary btn-lg" value="Save">
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<!-- Modal Bootstrap -->
<!--MODAL ADD ROW-->
<div class="modal-add-row">
    <div class="modal-container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="card modal-card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <div>
                                <h4 class="card-title" id="basic-layout-form">Add a lot of report</h4>
                            </div>
                        </div>
                        <div class="modal-close">
                            <i class="fa-solid fa-xmark modal-close-icon"></i>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="px-3">
                            @using (Html.BeginForm("Create", "Session_Reports"))
                            {

                                @Html.Hidden("option", 2)
                                @Html.Hidden("project_id", project_id)
                                <form class="form">
                                    <div class="form-body">

                                        <div class="row justify-content-md-center">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="projectinput1">Tilte Cycles per Time</label>
                                                    <input type="text" id="projectinput1" class="form-control" name="tilte_Cycles"
                                                           required="required" oninvalid="this.setCustomValidity('Please enter Tilte Cycles per Time')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="issueinput3">Date_Start</label>
                                                    <input type="date" id="add-date-start" class="form-control" name="date_Start"
                                                           data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened"
                                                           required="required" oninvalid="this.setCustomValidity('Please enter date start')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="issueinput4">Date_End</label>
                                                    <input type="date" id="add-date-end" class="form-control" name="date_End"
                                                           data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Fixed"
                                                           required="required" oninvalid="this.setCustomValidity('Please enter date end')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="projectinput3">Cycles</label>
                                                    <input type="number" id="projectinput3" class="form-control" name="cycles" min="1"
                                                           required="required" oninvalid="this.setCustomValidity('Please enter Tilte Cycles')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="projectinput3">Time</label>
                                                    <select id="projectinput5" name="time" class="form-control">

                                                        <option value="Day" selected="">Day</option>
                                                        <option value="Week">Week</option>
                                                        <option value="Month">Month</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-actions complaint-form">
                                        <button type="button" class="btn btn-danger mr-1 btn-cancel">
                                            <i class="icon-trash"></i> Cancel
                                        </button>
                                        <button type="submit" class="btn btn-success">
                                            <i class="icon-note"></i> Save
                                        </button>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END-->
<script src="~/Template/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
<script src="~/Template/app-assets/vendors/js/chart.min.js"></script>

<script type="text/javascript">

    var project_id = @project_id;

    $.ajax({
        type: 'POST',
        url: '@Url.Action("List_Group_Statistics", "ProjectParticipants")',
        data: { 'project_id': project_id },
        success: function (response) {
            //Get the context of the Chart canvas element we want to select
            var ctx = $("#column-chart");

            // Chart Options
            var chartOptions = {
                // Elements options apply to all of the options unless overridden in a dataset
                // In this case, we are setting the border of each bar to be 2px wide and green
                elements: {
                    rectangle: {
                        borderWidth: 2,
                        borderColor: 'rgb(0, 255, 0)',
                        borderSkipped: 'bottom'
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                scaleShowVerticalLines: false,
                responsiveAnimationDuration: 500,
                legend: {
                    position: 'top',
                },
                scales: {
                    xAxes: [{
                        display: true,
                        gridLines: {
                            color: "#f3f3f3",
                            drawTicks: false,
                        },
                        scaleLabel: {
                            display: true,
                        }
                    }],
                    yAxes: [{
                        display: true,
                        gridLines: {
                            color: "#f3f3f3",
                            drawTicks: false,
                        },
                        scaleLabel: {
                            display: true,
                        }
                    }]
                }
            };

            // Get chart labels and data
            var labels = response.map(function (e) {
                return e.group;
            });
            var data = response.map(function (e) {
                return e.sum;
            });

            // Chart Data
            var chartData = {
                labels: labels,
                datasets: [{
                    label: "Meeting Minutes",
                    data: data,
                    backgroundColor: "rgba(255, 95, 32, 0.8)",
                    borderColor: "transparent",
                    pointBackgroundColor: 'rgba(148,159,177,1)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgba(148,159,177,0.8)'
                }]
            };

            var config = {
                type: 'bar',

                // Chart Options
                options: chartOptions,

                data: chartData
            };

            // Create the chart
            var lineChart = new Chart(ctx, config);
        }
    });
</script>

<div class="modal fade text-left" id="ExportExcel1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1"><b>Notification</b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>Are you sure you want to export meeting minutes submission status in excel? </p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-outline-primary" id="btnExport" data-dismiss="modal">Yes</button>

            </div>
        </div>
    </div>
</div>