@model IEnumerable<MeetingVL.Models.SessionReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
    int no = 0;
    int project_id = int.Parse(TempData["project_id"].ToString());
    string project_Name = TempData["project_Name"].ToString();
    string project_Description = "";
    if (TempData["project_Description"] != null)
    {
        project_Description = TempData["project_Description"].ToString();
    }
    int category_id = int.Parse(TempData["category_id"].ToString());
    string category_Name = TempData["category_Name"].ToString();

}

<section id="minimal-statistics">
    <div class="row">
        <div class="col-sm-12">
            <ul class="header-controls-list">
                <li class="header-controls-item text-bold-400"><a href="@Url.Action("Index", "Categories")">Category</a></li>
                <ion-icon name="chevron-forward-outline" class="header-direction"></ion-icon>
                <li class="header-controls-item text-bold-400"><a href="@Url.Action("Index", "Projects", new {category_id = category_id })">@category_Name</a></li>
                <ion-icon name="chevron-forward-outline" class="header-direction"></ion-icon>
                <li class="header-controls-item text-bold-400">@project_Name</li>

            </ul>
        </div>

        <div class="col-sm-12">
            <h2 class="content-header">@project_Name</h2>
            <div class="" style="float: right">
                <div class="btn-group mr-2">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add Session Report
                    </button>
                    <div class="dropdown-menu">
                        <a href="" class="dropdown-item py-1" data-toggle="modal" data-target="#myBootstrap"><span>Each report</span></a>
                        <a class="dropdown-item complaint-add-row" href="#">A lot of reprot</a>
                    </div>
                </div>
            </div>
            <p class="content-sub-header">@project_Description</p>
        </div>
    </div>
    <!-- /.col-lg-6 -->
    @using (Html.BeginForm("Index", "Session_Reports", FormMethod.Get))
    {
        @Html.Hidden("project_id", project_id)
        <div class="col-lg-6">
            <div class="input-group">

                <input type="text" class="form-control" placeholder="Search for..." name="keyword">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Go!</button>
                </div>

            </div>
            <!-- /input-group -->
        </div>
    }
    <!-- /.col-lg-6 -->


<div class="row">
    @foreach (var item in Model)
    {
        var myModal = "default" + item.ID;
        var myBootstrap = "bootstrap" + item.ID;
        no++;
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-stretch">
                        @if (no % 4 == 1)
                        {
                            <div class="p-2 text-center bg-info rounded-left pt-3">
                                <ion-icon name="calendar-outline" class="font-large-2 text-white"></ion-icon>
                                <a href="taskboard.html"></a>
                            </div>
                            <div class="actions float-right">
                                <div class="dropdown ml-2 display-inline-block">
                                    <a id="apps" href="" data-toggle="dropdown" class="ft-more-vertical grey" aria-expanded="false"></a>
                                    <div class="apps dropdown-menu">
                                        <div class="arrow_box">
                                            <a href="" class="dropdown-item py-1" data-toggle="modal" data-target="#@myBootstrap"><span>Edit</span></a>
                                            <a class="dropdown-item py-1" data-toggle="modal" data-target="#@myModal"><span>Delete</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="py-2 px-2 media-body">
                                <a href="taskboard.html"></a>
                                <h6 class="info text-bold-500">@item.Name</h6>
                                <p class="courses-time font-small-3">
                                    <span class="time-start">@String.Format("{0:dd/MM/yyyy}", item.Date_Start)</span>
                                    <span>-</span>
                                    <span class="time-end">@String.Format("{0:dd/MM/yyyy}", item.Date_End)</span>
                                </p>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        }
                        else if (no % 4 == 2)
                        {
                            <div class="p-2 text-center bg-danger rounded-left pt-3">
                                <ion-icon name="calendar-outline" class="font-large-2 text-white"></ion-icon>
                                <a href="taskboard.html"></a>
                            </div>
                            <div class="actions float-right">
                                <div class="dropdown ml-2 display-inline-block">
                                    <a id="apps" href="" data-toggle="dropdown" class="ft-more-vertical grey" aria-expanded="false"></a>
                                    <div class="apps dropdown-menu">
                                        <div class="arrow_box">
                                            <a href="" class="dropdown-item py-1" data-toggle="modal" data-target="#@myBootstrap"><span>Edit</span></a>
                                            <a class="dropdown-item py-1" data-toggle="modal" data-target="#@myModal"><span>Delete</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="py-2 px-2 media-body">
                                <a href="taskboard.html"></a>
                                <h6 class="info text-bold-500">@item.Name</h6>
                                <p class="courses-time font-small-3">
                                    <span class="time-start">@String.Format("{0:dd/MM/yyyy}", item.Date_Start)</span>
                                    <span>-</span>
                                    <span class="time-end">@String.Format("{0:dd/MM/yyyy}", item.Date_End)</span>
                                </p>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        }
                        else if (no % 4 == 3)
                        {
                            <div class="p-2 text-center bg-success rounded-left pt-3">
                                <ion-icon name="calendar-outline" class="font-large-2 text-white"></ion-icon>
                                <a href="taskboard.html"></a>
                            </div>
                            <div class="actions float-right">
                                <div class="dropdown ml-2 display-inline-block">
                                    <a id="apps" href="" data-toggle="dropdown" class="ft-more-vertical grey" aria-expanded="false"></a>
                                    <div class="apps dropdown-menu">
                                        <div class="arrow_box">
                                            <a href="" class="dropdown-item py-1" data-toggle="modal" data-target="#@myBootstrap"><span>Edit</span></a>
                                            <a class="dropdown-item py-1" data-toggle="modal" data-target="#@myModal"><span>Delete</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="py-2 px-2 media-body">
                                <a href="taskboard.html"></a>
                                <h6 class="info text-bold-500">@item.Name</h6>
                                <p class="courses-time font-small-3">
                                    <span class="time-start">@String.Format("{0:dd/MM/yyyy}", item.Date_Start)</span>
                                    <span>-</span>
                                    <span class="time-end">@String.Format("{0:dd/MM/yyyy}", item.Date_End)</span>
                                </p>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        }
                        else if (no % 4 == 0)
                        {
                            <div class="p-2 text-center bg-warning rounded-left pt-3">
                                <ion-icon name="calendar-outline" class="font-large-2 text-white"></ion-icon>
                                <a href="taskboard.html"></a>
                            </div>
                            <div class="actions float-right">
                                <div class="dropdown ml-2 display-inline-block">
                                    <a id="apps" href="" data-toggle="dropdown" class="ft-more-vertical grey" aria-expanded="false"></a>
                                    <div class="apps dropdown-menu">
                                        <div class="arrow_box">
                                            <a href="" class="dropdown-item py-1" data-toggle="modal" data-target="#@myBootstrap"><span>Edit</span></a>
                                            <a class="dropdown-item py-1" data-toggle="modal" data-target="#@myModal"><span>Delete</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="py-2 px-2 media-body">
                                <a href="taskboard.html"></a>
                                <h6 class="info text-bold-500">@item.Name</h6>
                                <p class="courses-time font-small-3">
                                    <span class="time-start">@String.Format("{0:dd/MM/yyyy}", item.Date_Start)</span>
                                    <span>-</span>
                                    <span class="time-end">@String.Format("{0:dd/MM/yyyy}", item.Date_End)</span>
                                </p>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Bootstrap -->
        <div class="modal fade text-left" id="@myBootstrap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel35"> Edit Category</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Html.BeginForm("Edit", "Session_Reports"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", item.ID)
                        <form>
                            <div class="modal-body">

                                <div class="row justify-content-md-center">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="projectinput1">Name</label>
                                            <input type="text" id="projectinput1" class="form-control" name="name" value="@item.Name"
                                                   required="required" oninvalid="this.setCustomValidity('Please enter name project')" oninput="setCustomValidity('')">
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="issueinput3">Date_Start</label>
                                            <input type="date" id="issueinput3" class="form-control" name="date_Start" value="@String.Format("{0:yyyy-MM-dd}",item.Date_Start)"
                                                   data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened"
                                                   required="required" oninvalid="this.setCustomValidity('Please enter date start')" oninput="setCustomValidity('')">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="issueinput4">Date_End</label>
                                            <input type="date" id="issueinput4" class="form-control" name="date_End" value="@String.Format("{0:yyyy-MM-dd}",item.Date_End)"
                                                   data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Fixed"
                                                   required="required" oninvalid="this.setCustomValidity('Please enter date end')" oninput="setCustomValidity('')">
                                        </div>
                                    </div>

                                   

                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                                <input type="submit" class="btn btn-outline-primary btn-lg" value="Save">
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>
        <!-- Modal Bootstrap -->

        <!-- Modal -->
        <div class="modal fade text-left" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel1"><b>Notification</b></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5>Are you sure?</h5>
                        <p>When you delete the Session Report <b>"@item.Name"</b>, all Meeting Minutes will be deleted. You won't be able to revert this!</p>
                    </div>
                    <div class="modal-footer">
                        @using (Html.BeginForm("Delete", "Session_Reports", new { id = item.ID }))
                        {
                            @Html.AntiForgeryToken()
                            <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-outline-primary">Yes</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!----Modal-->
    }
</div>
</section>

<!-- Modal Bootstrap -->
<div class="modal fade text-left" id="myBootstrap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel35"> Add each report </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Create", "Session_Reports"))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("project_id", project_id)
                @Html.Hidden("option", 1)
                @Html.Hidden("cycles", 1)
                <form>
                    <div class="modal-body">

                        <div class="row justify-content-md-center">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="projectinput1">Tilte Cycles per Time</label>
                                    <input type="text" id="projectinput1" class="form-control" name="tilte_Cycles"
                                           required="required" oninvalid="this.setCustomValidity('Please enter Tilte Cycles per Time')" oninput="setCustomValidity('')">
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="issueinput3">Date_Start</label>
                                    <input type="date" id="issueinput3" class="form-control" name="date_Start"
                                           data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened"
                                           required="required" oninvalid="this.setCustomValidity('Please enter date start')" oninput="setCustomValidity('')">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="issueinput4">Date_End</label>
                                    <input type="date" id="issueinput4" class="form-control" name="date_End"
                                           data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Fixed"
                                           required="required" oninvalid="this.setCustomValidity('Please enter date end')" oninput="setCustomValidity('')">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="close">
                        <input type="submit" class="btn btn-outline-primary btn-lg" value="Save">
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<!-- Modal Bootstrap -->

<!--MODAL ADD ROW-->
<div class="modal-add-row">
    <div class="modal-container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="card modal-card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <div>
                                <h4 class="card-title" id="basic-layout-form">Add a lot of reprot</h4>
                            </div>
                        </div>
                        <div class="modal-close">
                            <i class="fa-solid fa-xmark modal-close-icon"></i>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="px-3">
                            @using (Html.BeginForm("Create", "Session_Reports"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("option", 2)
                                @Html.Hidden("project_id", project_id)
                                <form class="form">
                                    <div class="form-body">

                                        <div class="row justify-content-md-center">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="projectinput1">Tilte Cycles per Time</label>
                                                    <input type="text" id="projectinput1" class="form-control" name="tilte_Cycles"
                                                           required="required" oninvalid="this.setCustomValidity('Please enter Tilte Cycles per Time')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="issueinput3">Date_Start</label>
                                                    <input type="date" id="issueinput3" class="form-control" name="date_Start"
                                                           data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Opened"
                                                           required="required" oninvalid="this.setCustomValidity('Please enter date start')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="issueinput4">Date_End</label>
                                                    <input type="date" id="issueinput4" class="form-control" name="date_End"
                                                           data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Date Fixed"
                                                           required="required" oninvalid="this.setCustomValidity('Please enter date end')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="projectinput3">Cycles</label>
                                                    <input type="number" id="projectinput3" class="form-control" name="cycles" min="1"
                                                           required="required" oninvalid="this.setCustomValidity('Please enter Tilte Cycles')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="projectinput3">Time</label>
                                                    <select id="projectinput5" name="time" class="form-control">

                                                        <option value="Day" selected="">Day</option>
                                                        <option value="Week">Week</option>
                                                        <option value="Month">Month</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-actions complaint-form">
                                        <button type="button" class="btn btn-danger mr-1 btn-cancel">
                                            <i class="icon-trash"></i> Cancel
                                        </button>
                                        <button type="submit" class="btn btn-success">
                                            <i class="icon-note"></i> Save
                                        </button>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END-->
