@model IEnumerable<MeetingVL.Models.SessionReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
    int no = 0;
    int project_id = int.Parse(TempData["project_id"].ToString());
    string project_Name = TempData["project_Name"].ToString();
    string project_Description = "";
    if (TempData["project_Description"] != null)
    {
        project_Description = TempData["project_Description"].ToString();
    }
    
}

<section id="basic-tabs-components">
    <div class="col-sm-12">
        <ul class="header-controls-list">
            <li class="header-controls-item text-bold-400"><a href="@Url.Action("Index", "ProjectParticipants")">Project</a></li>
            <ion-icon name="chevron-forward-outline" class="header-direction"></ion-icon>
            <li class="header-controls-item text-bold-400">@project_Name</li>

        </ul>
    </div>
    <div class="row match-height">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">@project_Name</h4>
                        <p class="content-sub-header">@project_Description</p>

                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link @Session["List_SessionReport"].ToString()" id="base-tabX1" data-toggle="tab" aria-controls="tab1" href="#tab1" aria-expanded="true">Session Report</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Session["List_Member"].ToString()" id="base-tabX2" data-toggle="tab" aria-controls="tab2" href="#tab2">Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Session["List_Group"].ToString()" id="base-tabX3" data-toggle="tab" aria-controls="tab3" href="#tab3">Group</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled">Disabled</a>
                            </li>
                        </ul>
                        <div class="tab-content px-1 pt-1">
                            <div class="tab-pane @Session["List_SessionReport"].ToString()" id="tab1" aria-expanded="true" aria-labelledby="base-tabX1">
                                @Html.Action("List_SessionReport", "Session_Reports", new { project_id = project_id })
                            </div>
                            <div class="tab-pane @Session["List_Member"].ToString()" id="tab2" aria-labelledby="base-tabX2">
                                @Html.Action("List_member", "ProjectParticipants", new { project_id = project_id })
                            </div>
                            <div class="tab-pane @Session["List_Group"].ToString()" id="tab3" aria-labelledby="base-tabX3">
                                @Html.Action("List_Group", "ProjectParticipants", new { project_id = project_id })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
