@model IEnumerable<MeetingVL.Models.SessionReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
    int no = 0;
    int project_id = int.Parse(TempData["project_id"].ToString());
    string project_Name = TempData["project_Name"].ToString();
    string project_Description = "";
    if (TempData["project_Description"] != null)
    {
        project_Description = TempData["project_Description"].ToString();
    }

    int count_submit = int.Parse(TempData["count_submit"].ToString());
    int count_all = int.Parse(TempData["count_all"].ToString());
    int count_waiting = count_all - count_submit;
}

<section id="basic-tabs-components">
    <div class="col-sm-12">
        <ul class="header-controls-list">
            <li class="header-controls-item text-bold-400"><a href="@Url.Action("Index", "ProjectParticipants")">Project</a></li>
            <ion-icon name="chevron-forward-outline" class="header-direction"></ion-icon>
            <li class="header-controls-item text-bold-400">@project_Name</li>

        </ul>
    </div>
    <div class="row match-height">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">@project_Name</h4>
                        <p class="content-sub-header">@project_Description</p>

                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ul class="nav nav-tabs">
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle @Session["List_SessionReport"].ToString()" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    Session Report
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item " id="dropdown31-tab" href="#dropdown30" data-toggle="tab" aria-controls="dropdown31" aria-expanded="true">All Session (@count_all)</a>
                                    <a class="dropdown-item" id="dropdown31-tab" href="#dropdown31" data-toggle="tab" aria-controls="dropdown31" aria-expanded="true">Submited (@count_submit)</a>
                                    <a class="dropdown-item" id="dropdown32-tab" href="#dropdown32" data-toggle="tab" aria-controls="dropdown32" aria-expanded="true">Waiting to Submit (@count_waiting) </a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Session["List_Member"].ToString()" id="base-tabX2" data-toggle="tab" aria-controls="tab2" href="#tab2">Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Session["List_Group"].ToString()" id="base-tabX3" data-toggle="tab" aria-controls="tab3" href="#tab3">Group</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @Session["List_Semester"].ToString()" id="base-tabX4" data-toggle="tab" aria-controls="tab4" href="#tab4">Semester</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="base-tabX5" data-toggle="tab" aria-controls="tab5" href="#tab5">Statistics</a>
                            </li>
                        </ul>
                        <div class="tab-content px-1 pt-1">
                            <div class="tab-pane @Session["List_SessionReport"].ToString()" id="dropdown30" role="tabpanel" aria-labelledby="dropdown31-tab" aria-expanded="false">
                                @Html.Action("List_Submit_SessionReport", "Session_Reports", new { project_id = project_id })
                            </div>
                            <div class="tab-pane" id="dropdown31" role="tabpanel" aria-labelledby="dropdown31-tab" aria-expanded="false">
                                @Html.Action("List_Submit_SessionReport", "Session_Reports", new { project_id = project_id, Action = 1 })
                            </div>
                            <div class="tab-pane" id="dropdown32" role="tabpanel" aria-labelledby="dropdown32-tab" aria-expanded="false">
                                @Html.Action("List_Submit_SessionReport", "Session_Reports", new { project_id = project_id, Action = 2 })
                            </div>
                            <div class="tab-pane @Session["List_Member"].ToString()" id="tab2" aria-labelledby="base-tabX2">
                                @Html.Action("List_member", "ProjectParticipants", new { project_id = project_id })
                            </div>
                            <div class="tab-pane @Session["List_Group"].ToString()" id="tab3" aria-labelledby="base-tabX3">
                                @Html.Action("List_Group", "ProjectParticipants", new { project_id = project_id })
                            </div>
                            <div class="tab-pane @Session["List_Semester"].ToString()" id="tab4" aria-labelledby="base-tabX4">
                                @Html.Action("Index", "Semesters", new { project_id = project_id })
                            </div>
                            <div class="tab-pane" id="tab5" aria-labelledby="base-tabX5">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title-wrap bar-primary">
                                                    <h4 class="card-title">Meeting minutes statistics</h4>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-block chartjs">
                                                    <canvas id="column-chart-student" height="400"></canvas>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--END-->
<script src="~/Template/app-assets/vendors/js/core/jquery-3.3.1.min.js"></script>
<script src="~/Template/app-assets/vendors/js/chart.min.js"></script>

<script type="text/javascript">

    var project_id = @project_id;

    $.ajax({
        type: 'POST',
        url: '@Url.Action("List_Group_Statistics", "ProjectParticipants")',
        data: { 'project_id': project_id },
        success: function (response) {
            //Get the context of the Chart canvas element we want to select
            var ctx = $("#column-chart-student");

            // Chart Options
            var chartOptions = {
                // Elements options apply to all of the options unless overridden in a dataset
                // In this case, we are setting the border of each bar to be 2px wide and green
                elements: {
                    rectangle: {
                        borderWidth: 2,
                        borderColor: 'rgb(0, 255, 0)',
                        borderSkipped: 'bottom'
                    }
                },
                responsive: true,
                maintainAspectRatio: false,
                scaleShowVerticalLines: false,
                responsiveAnimationDuration: 500,
                legend: {
                    position: 'top',
                },
                scales: {
                    xAxes: [{
                        display: true,
                        gridLines: {
                            color: "#f3f3f3",
                            drawTicks: false,
                        },
                        scaleLabel: {
                            display: true,
                        }
                    }],
                    yAxes: [{
                        display: true,
                        gridLines: {
                            color: "#f3f3f3",
                            drawTicks: false,
                        },
                        scaleLabel: {
                            display: true,
                        }
                    }]
                }
            };

            // Get chart labels and data
            var labels = response.map(function (e) {
                return e.group;
            });
            var data = response.map(function (e) {
                return e.sum;
            });

            // Chart Data
            var chartData = {
                labels: labels,
                datasets: [{
                    label: "Meeting Minutes",
                    data: data,
                    backgroundColor: "rgba(255, 95, 32, 0.8)",
                    borderColor: "transparent",
                    pointBackgroundColor: 'rgba(148,159,177,1)',
                    pointBorderColor: '#fff',
                    pointHoverBackgroundColor: '#fff',
                    pointHoverBorderColor: 'rgba(148,159,177,0.8)'
                }]
            };

            var config = {
                type: 'bar',

                // Chart Options
                options: chartOptions,

                data: chartData
            };

            // Create the chart
            var lineChart = new Chart(ctx, config);
        }
    });
</script>