@model IEnumerable<MeetingVL.Models.ProjectParticipant>

@{
    ViewBag.Title = "Student_SReport";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
    int no = 0;
}




<!--Start-->
<section id="minimal-statistics-bg">
    <div class="row">
        <div class="col-12 mt-3 mb-1 header-content-group">
            <h2 class="content-header col-10">Project</h2>
        </div>
    </div>
    <!-- /.col-lg-6 -->
    @using (Html.BeginForm("Index", "ProjectParticipants", FormMethod.Get))
    {
        <div class="row">
            <div class="col-12">
                <div class="col-lg-6 input-wrap">
                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="Search for..." name="keyword">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Go!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- /.col-lg-6 -->
    <div class="row match-height">
        @foreach (var item in Model)
        {
            if (item.Project.State != "Deleted")
            {
                var myModal = "default" + item.Project.ID;
                var myBootstrap = "bootstrap" + item.Project.ID;
                no++;
                <div class="col-xl-3 col-lg-6 col-12">
                    @if (no % 4 == 1)
                    {
                        <div class="card bg-success">
                            <div class="card-body">
                                <div class="px-3 py-3">

                                    <div class="row text-white">
                                        <div class="col-12 courses-wrap">
                                            <h1>
                                                <i class="fa fa-star-o background-round text-white p-2 font-medium-3"></i>
                                            </h1>
                                            <a href="@Url.Action("Student_SReport","Session_Reports",new { project_id = item.Project.ID, active = 1})"><h4 class="courses-num font-medium-3 text-bold-400">@item.Project.Name</h4></a>
                                            <p class="courses-time font-small-3">
                                                <span class="time-start">@String.Format("{0:dd/MM/yyyy}", item.Project.Date_Start)</span>
                                                <span>-</span>
                                                <span class="time-end">@String.Format("{0:dd/MM/yyyy}", item.Project.Date_End)</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    else if (no % 4 == 2)
                    {

                        <div class="card bg-danger">
                            <div class="px-3 py-3">

                                <div class="row text-white">
                                    <div class="col-12 courses-wrap">
                                        <h1>
                                            <i class="fa fa-star-o background-round text-white p-2 font-medium-3"></i>
                                        </h1>
                                        <a href="@Url.Action("Student_SReport","Session_Reports",new { project_id = item.Project.ID, active = 1})"><h4 class="courses-num font-medium-3 text-bold-400">@item.Project.Name</h4></a>
                                        <p class="courses-time font-small-3">
                                            <span class="time-start">@String.Format("{0:dd/MM/yyyy}", item.Project.Date_Start)</span>
                                            <span>-</span>
                                            <span class="time-end">@String.Format("{0:dd/MM/yyyy}", item.Project.Date_End)</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    else if (no % 4 == 3)
                    {

                        <div class="card bg-info">
                            <div class="px-3 py-3">

                                <div class="row text-white">
                                    <div class="col-12 courses-wrap">
                                        <h1>
                                            <i class="fa fa-star-o background-round text-white p-2 font-medium-3"></i>
                                        </h1>
                                        <a href="@Url.Action("Student_SReport","Session_Reports",new { project_id = item.Project.ID, active = 1})"><h4 class="courses-num font-medium-3 text-bold-400">@item.Project.Name</h4></a>
                                        <p class="courses-time font-small-3">
                                            <span class="time-start">@String.Format("{0:dd/MM/yyyy}", item.Project.Date_Start)</span>
                                            <span>-</span>
                                            <span class="time-end">@String.Format("{0:dd/MM/yyyy}", item.Project.Date_End)</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    else if (no % 4 == 0)
                    {

                        <div class="card bg-warning">
                            <div class="px-3 py-3">

                                <div class="row text-white">
                                    <div class="col-12 courses-wrap">
                                        <h1>
                                            <i class="fa fa-star-o background-round text-white p-2 font-medium-3"></i>
                                        </h1>
                                        <a href="@Url.Action("Student_SReport","Session_Reports",new { project_id = item.Project.ID, active = 1})"><h4 class="courses-num font-medium-3 text-bold-400">@item.Project.Name</h4></a>
                                        <p class="courses-time font-small-3">
                                            <span class="time-start">@String.Format("{0:dd/MM/yyyy}", item.Project.Date_Start)</span>
                                            <span>-</span>
                                            <span class="time-end">@String.Format("{0:dd/MM/yyyy}", item.Project.Date_End)</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
    </div>
</section>
<!--End-->
