@model IEnumerable<MeetingVL.Models.Notification>

@{
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
}

<section id="grid-option">
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">Announcement - MeetingVL</h4>
                    </div>
                </div>

                @foreach (var item in Model)
                {
                    if (item.Comment_ID != null)
                    {
                        <div class="card-block text-white">
                            <div class="col-12">
                                <div class="card card_with-chat">
                                    <div class="card-body">
                                        <div class="py-0 px-0 media-body">
                                            <a href="@Url.Action("Details", "Evaluates", new { id = item.Comment.Evalute_ID, notification_id = item.ID})" class="dropdown-item noti-container py-2 dropdown_wrap-chat">
                                                <i style="color: #1E9FF2" class="fa fa-commenting-o float-left d-block font-medium-4 mr-2"></i>
                                                <h4 style="color: #1E9FF2" class="noti-title line-height-1 d-block text-bold-400 ">Comment</h4>
                                                <p class="chat_with-name">
                                                    @item.Comment.User.Email
                                                    <span class="chat_with-content">@item.Comment.Comment1</span>
                                                </p>
                                                @if (item.status != "Seen")
                                                {
                                                    <div class="dropdown-item-new-chat">
                                                        <p class="dropdown-item-new-content">New</p>
                                                    </div>
                                                }
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                   else if (item.Evalute_ID != null)
                    {
                        <div class="card-block text-white">
                            <div class="col-12">
                                <div class="card card_with-chat">
                                    <div class="card-body">
                                        <div class="media align-items-stretch">
                                            <div class="py-0 px-0 media-body">
                                                <a  href="@Url.Action("Details", "Evaluates", new { id = item.Evalute_ID})" class="dropdown-item noti-container py-2 dropdown_wrap-chat">
                                                    <i class="fa fa-file-text-o font float-left d-block font-medium-4 mr-2 warning"></i>
                                                    <h4 style="color: #1E9FF2" class="noti-title line-height-1 d-block text-bold-400 warning">Review</h4>
                                                    <p class="chat_with-name chat_with-noti">@item.Evaluate.User_ID đã gửi Review cho nhóm bạn</p>
                                                    @if (item.status != "Seen")
                                                    {
                                                        <div class="dropdown-item-new-chat">
                                                            <p class="dropdown-item-new-content">New</p>
                                                        </div>
                                                    }
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
    </div>

</section>