@model IEnumerable<MeetingVL.Models.Notification>

@{
    Layout = null;
}


<li class="dropdown nav-item mt-1">
    <a id="dropdownBasic2" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-toggle">
        <i class="ft-bell blue-grey darken-4"></i><span class="notification badge badge-pill badge-danger">@Model.Where(m => m.status != "Seen").Count()</span>
        <p class="d-none">Notifications</p>
    </a>
    <div class="notification-dropdown dropdown-menu dropdown-menu-right">
        <div class="arrow_box_right">
            <div class="noti-list">
                @foreach (var item in Model)
                {
                    if (item.Comment_ID != null)
                    {
                        if (item.status != "Seen")
                        {
                            <a href="@Url.Action("Details", "Evaluates", new { id = item.Comment.Evalute_ID, notification_id = item.ID})" class="dropdown-item noti-container py-2 dropdown-with-item dropdown-with-item--active">
                                <i style="color: #1E9FF2" class="fa fa-commenting-o float-left d-block font-medium-5 mt-4 mr-3"></i>
                                <span class="noti-wrapper">
                                    <span style="color: #1E9FF2" class="noti-title line-height-1 d-block text-bold-400 ">Comment</span>
                                    <span class="noti-text"><b>@item.Comment.User.Email</b></span>
                                    <span class="noti-text"><br />@item.Content</span>
                                </span>
                                <div class="dropdown-item-new">
                                    <p class="dropdown-item-new-content">New</p>
                                </div>
                            </a>

                        }
                        else
                        {
                            <a href="@Url.Action("Details", "Evaluates", new { id = item.Comment.Evalute_ID, notification_id = item.ID})" class="dropdown-item noti-container py-2">
                                <i style="color: #1E9FF2" class="fa fa-commenting-o float-left d-block font-medium-5 mt-4 mr-3"></i>
                                <span class="noti-wrapper">
                                    <span style="color: #1E9FF2" class="noti-title line-height-1 d-block text-bold-400 ">Comment</span>
                                    <span class="noti-text"><b>@item.Comment.User.Email</b></span>
                                    <span class="noti-text"><br />@item.Content</span>
                                </span>
                            </a>
                        }

                    }

                    if (item.Evalute_ID != null)
                    {
                        if (item.status != "Seen")
                        {
            <a href="@Url.Action("Details", "Evaluates", new { id = item.Evalute_ID, notification_id = item.ID })" class="dropdown-item noti-container py-2 dropdown-with-item dropdown-with-item--active">
                <i style="color: #FF9800 " class="fa fa-file-text-o float-left d-block font-medium-4 mt-2  mr-3"></i>
                <span class="noti-wrapper">
                    <span style="color: #FF9800 " class="noti-title line-height-1 d-block text-bold-400 ">Evalue - @item.Evaluate.Semester.Name</span>
                    <span class="noti-text">@item.Content</span>
                </span>
                <div class="dropdown-item-new">
                    <p class="dropdown-item-new-content">New</p>
                </div>
            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Details", "Evaluates", new { id = item.Evalute_ID, notification_id = item.ID })" class="dropdown-item noti-container py-2">
                                <i style="color: #FF9800 " class="fa fa-file-text-o float-left d-block font-medium-4 mt-2  mr-3"></i>
                                <span class="noti-wrapper">
                                    <span style="color: #FF9800 " class="noti-title line-height-1 d-block text-bold-400 ">Evalue - @item.Evaluate.Semester.Name</span>
                                    <span class="noti-text">@item.Content</span>
                                </span>
                            </a>
                        }

                    }



                }


            </div>
            <a href="#" class="noti-footer primary text-center d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1">All Announcement</a>
        </div>
    </div>
</li>
