@model IEnumerable<MeetingVL.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
}

@if (Session["notification"] != null)
{
    <button type="button" hidden class="btn btn-lg btn-block btn-outline-success mb-2" id="type-success" onclick="test()">Success</button>
    <script>
            function test() {
                toastr.success('@Session["notification"].ToString()', 'Success');
            }
            window.onload = function () {
                document.getElementById('type-success').click();
            }
    </script>
    Session["notification"] = null;
}

<section id="minimal-statistics-bg">
    <div class="row">
        <div class="col-12  mb-1">
            <h2 class="content-header">Category</h2>
        </div>
    </div>
    <section class="taskboard-app-form bg-blue-grey bg-lighten-5">
        <div class="card">
            <div class="card-block pt-3">
                <h5 class="text-bold-500">Create new Category</h5>
                @using (Html.BeginForm("Create", "Categories"))
                {
                    <form class="taskboard-app-input row">

                        <fieldset class="form-group position-relative has-icon-left col-md-12 form-control-wrap " @* style="max-width: initial"*@>
                            <div class="form-control-position icon-smile">
                                <i class="icon-emoticon-smile"></i>
                            </div>

                            <input type="text" class="form-control col-md-10" id="todoTitle" name="Name" placeholder="Title"
                                   required="required" oninvalid="this.setCustomValidity('Please enter name category')" oninput="">
                            <button type="submit" class="btn btn-primary col-md-1 create-btn" @*style="float: right; margin-bottom:auto"*@>
                                <i class="fa fa-paper-plane-o hidden-lg-up"></i> Create
                            </button>
                        </fieldset>
                    </form>
                }
            </div>
        </div>

    </section>


    @using (Html.BeginForm("Index", "Categories", FormMethod.Get))
    {
        <div class="row">
            <div class="col-12">
                <div class="col-lg-6 input-wrap">
                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="Search for..." name="keyword">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Go!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        @foreach (var item in Model)
        {

            var myModal = "default" + item.ID;
            var myBootstrap = "bootstrap" + item.ID;
            string name = item.Name;
            string[] nameList = name.Split(' ');
            <div class="col-xl-3 col-lg-6 col-12">
                <a href="@Url.Action("Index","Projects",new { category_id = item.ID})">
                    <div class="card card-body-hover while">
                        <div class="card-body-wrap actions-wrap">
                            <div class="card-body-content">
                                <div class="clearfix">
                                    <div class="card-avt gradient-amber-amber">
                                        @if (nameList.Count() >= 2)
                                        {
                                            <div class="card-avt-name">@nameList[0].Substring(0, 1)@nameList[1].Substring(0, 1)</div>
                                        }
                                        else
                                        {
                                            <div class="card-avt-name">@nameList[0].Substring(0, 1)</div>
                                        }

                                    </div>
                                    <p href="@Url.Action("Index","Projects",new { category_id = item.ID})" class="card-heading">@item.Name</p>
                                    <div class="actions float-right">
                                        <div class="dropdown ml-2 display-inline-block">
                                            <a id="apps" href="#" data-toggle="dropdown" class="ft-more-vertical grey" aria-expanded="false"></a>
                                            <div class="apps dropdown-menu">
                                                <div class="arrow_box">
                                                    <a href="" class="dropdown-item py-1" data-toggle="modal" data-target="#@myBootstrap"><span>Edit</span></a>

                                                    <!-- Modal Bootstrap -->
                                                    <div class="modal fade text-left" id="@myBootstrap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel35" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 class="modal-title" id="myModalLabel35"> Edit Category</h3>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                @using (Html.BeginForm("Edit", "Categories"))
                                                                {
                                                                    @Html.Hidden("id", item.ID)
                                                                    <form>
                                                                        <div class="modal-body">
                                                                            <fieldset class="form-group floating-label-form-group">
                                                                                <label for="email">Tilte Category</label>
                                                                                <input type="text" class="form-control" id="Name" name="Name" value="@item.Name" placeholder="Tilte Category">
                                                                            </fieldset>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <input type="reset" class="btn btn-outline-secondary btn-lg" data-dismiss="modal" value="Cancel">
                                                                            <input type="submit" class="btn btn-outline-primary btn-lg" value="Save">
                                                                        </div>
                                                                    </form>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Modal Bootstrap -->

                                                    <a class="dropdown-item py-1" data-toggle="modal" data-target="#@myModal"><span>Delete</span></a>

                                                    <!-- Modal -->
                                                    <div class="modal fade text-left" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="myModalLabel1"><b>Notification</b></h4>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <h5>Are you sure?</h5>
                                                                    <p>When you delete the category <b>"@item.Name"</b>, all projects will be deleted. You won't be able to revert this!</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    @using (Html.BeginForm("Delete", "Categories", new { id = item.ID }))
                                                                    {
                                                                        <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Cancel</button>
                                                                        <button type="submit" class="btn btn-outline-primary">Yes</button>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!----Modal-->

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>

        }
    </div>
</section>







