@model MeetingVL.Models.Evaluate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
}

<div class="timeline-card card border-grey border-lighten-2">
    <div class="card-header">
        <h4 class="card-title mb-0">
            Review - @Model.Group.Name
        </h4>
        <br />
        <div class="media">
            <div class="media-left mr-2">
                <a>
                    <span class="avatar avatar-md avatar-busy">
                        <img src="~/Template/app-assets/img/portrait/small/avatar-s-18.jpg" class="rounded-circle" alt="avatar" width="50">
                    </span>
                    <i></i>
                </a>
            </div>
            <div class="media-body">
                
                    <b>@Model.User_ID</b>
                
                <div class="card-subtitle text-muted mt-0">
                    <span class="font-small-3">@Model.Time</span>
                    <span class="tag tag-pill tag-default tag-warning float-right">Point: @Model.Point</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-body">
            <div class="card-block">
                <p class="card-text">
                    @Model.Review
                </p>
                <div class="list-inline mb-1">
                    <span class="pr-1">
                        <a class="primary">
                            <span class="fa fa-commenting-o"></span> Comment
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="card-footer px-0 py-0">
            <div class="card-block">
                @Html.Action("Index", "Comments", new { evalute_id = Model.ID })

                @using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("evalute_id", Model.ID);
                    <form>
                        <fieldset class="form-group position-relative has-icon-left mb-0">
                            <input type="text" class="form-control" placeholder="Write comments..." name="comment">
                            <div class="form-control-position">
                                <i class="fa fa-dashcube"></i>
                            </div>
                        </fieldset>
                    </form>
                }
            </div>
        </div>
    </div>
</div>

