@model MeetingVL.Models.MeetingMinute

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
    int session_id = int.Parse(TempData["session_id"].ToString());
    int project_id = int.Parse(TempData["project_id"].ToString());
    int group_id = 0;
    if (TempData["group_id"] != null)
    {
        group_id = int.Parse(TempData["group_id"].ToString());

    }
    string ID_User = Session["ID_User"].ToString();
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-warning">
                    <h4 class="card-title" id="horz-layout-colored-controls">Create Meeting Minutes</h4>
                </div>

            </div>
            <div class="card-body">
                <div class="px-3">
                    @using (Html.BeginForm("Create_Meeting", "MeetingMinutes" ))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("session_id", session_id)
                        @Html.Hidden("group_id", group_id)
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <h4 class="form-section">
                                    <i class="icon-direction"></i> Meeting Minutes
                                </h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="userinput1">Meeting date: </label>
                                            <div class="col-md-9">
                                                <input type="datetime-local" id="userinput1" class="form-control border-primary" name="meetingDate"
                                                       required="required" oninvalid="this.setCustomValidity('Please enter Meeting Date')" oninput="setCustomValidity('')">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="userinput3">Location: </label>
                                            <div class="col-md-9">
                                                <input type="text" id="userinput3" class="form-control border-primary" name="location"
                                                       required="required" oninvalid="this.setCustomValidity('Please enter location')" oninput="setCustomValidity('')">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="userinput2">Process (%): </label>
                                            <div class="col-md-9">
                                                <input type="number" id="process" class="form-control border-primary" name="process" min="0" max="100"
                                                       required="required" oninvalid="this.setCustomValidity('Please enter process')" oninput="setCustomValidity('')">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="userinput3">stages: </label>
                                            <div class="col-md-9">
                                                <input type="text" id="stages" class="form-control border-primary" name="stages"
                                                       required="required" oninvalid="this.setCustomValidity('Please enter stages')" oninput="setCustomValidity('')">
                                            </div>
                                        </div>
                                    </div>




                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="userinput8">Objectives: </label>
                                            <div class="col-md-9">
                                                <textarea id="Objectives" rows="2" class="form-control col-md-9 border-primary" name="objectives"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                 </div>

                                    <h4 class="form-section">
                                        <i class="icon-note"></i>Content
                                    </h4>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <textarea id="content_meeting" rows="6" class="form-control col-md-12 border-primary" name="content"
                                                              required="required" oninvalid="this.setCustomValidity('Please enter content')" oninput="setCustomValidity('')"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <h4 class="form-section">
                                        <i class="ft-info"></i> Issues
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput2">Issues: </label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control border-primary" type="url" id="userinput6" name="issues"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput3">N/A: </label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control border-primary" type="url" id="userinput6" name="NA"></textarea>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <h4 class="form-section">
                                        <i class="icon-users"></i> Action
                                    </h4>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput8">Action: </label>
                                                <div class="col-md-9">
                                                    <textarea id="Action" rows="6" class="form-control col-md-9 border-primary"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            @if (TempData["group_id"] != null)
                                            {
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput5">Member: </label>
                                                    <div class="col-md-9">
                                                        <select class="custom-select form-control border-primary" id="Member" data-placeholder="Type to search cities" name="Member">

                                                            @Html.Action("List_Member_Meeting", "ProjectParticipants", new { project_id = project_id, group_id = group_id })
                                                        </select>

                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" for="userinput5">Member: </label>
                                                    <div class="col-md-9">
                                                        <select class="custom-select form-control border-primary" id="Member" data-placeholder="Type to search cities" name="eventType2">

                                                           
                                                                <option value="@ID_User">@ID_User</option>
                                                            

                                                        </select>
                                                    </div>
                                                </div>
                                            }

                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput5">Deadline: </label>
                                                <div class="col-md-9">
                                                    <input class="form-control border-primary" type="date" id="Deadline">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-md-3 label-control" for="userinput6">Descriptions: </label>
                                                <div class="col-md-9">
                                                    <textarea class="form-control border-primary" type="url" id="Descriptions"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input hidden type="text" id="URL_Action" value="@Url.Action("InsertAction", "Actions")">

                                                <button method="post" type="button" id="addRow" class="btn btn-primary mb-2"><i class="ft-plus"></i> Add new row</button>

                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="form-section">
                                        <i class="icon-users"></i> Action List
                                    </h4>
                                    <section id="add-row">

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <table class="table table-striped table-bordered add-rows">
                                                        <thead>
                                                            <tr>
                                                                <th>No.</th>
                                                                <th>User</th>
                                                                <th>Action</th>
                                                                <th>Deadline</th>
                                                                <th>Description</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                </div>

                                <div class="form-actions right">
                                    <button type="button" class="btn btn-danger mr-1">
                                        <i class="icon-trash"></i> Cancel
                                    </button>
                                    <button type="submit" class="btn btn-success">
                                        <i class="icon-note"></i> Save
                                    </button>
                                </div>
</form>
                    }
                    </div>
            </div>
        </div>
    </div>
</div>
