@model MeetingVL.Models.MeetingMinute

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
}

<section class="invoice-template">
    <div class="card">
        <div class="card-body p-3">
            <div id="invoice-template" class="card-block">
                <!-- Invoice Company Details -->
                <div id="invoice-company-details" class="row">
                    <div class="col-6 text-left">
                        <img src="~/Template/app-assets/img/LogoVL.png" alt="company logo" class="" width="70">
                        <ul class="px-0 list-unstyled">
                            <li class="text-bold-800">Van Lang University</li>
                        </ul>
                    </div>
                    <div class="col-6 text-right">
                        <h2>MeetingVL</h2>
                        @if (Model.Group_ID != null)
                        {
                            <p class="pb-3 ">@Model.Group.Name</p>

                        }
                    </div>
                </div>
                <!--/ Invoice Company Details -->
                <!-- Invoice Customer Details -->
                <div id="invoice-customer-details" class="row pt-2">
                    <div class="col-sm-12 text-center">
                        <h5> <b>Process: @Model.Process % </b></h5>

                    </div>
                    <div class="col-4 text-left">
                        <p><span class="text-muted">Date of Meeting :</span> @Model.Date</p>
                    </div>
                    <div class="col-4 text-center">
                        <p><span class="text-muted">Location :</span> @Model.Location</p>
                    </div>
                    <div class="col-4 text-right">
                        <p><span class="text-muted">Satges :</span> @Model.Stages</p>
                    </div>
                </div>
                <!--/ Invoice Customer Details -->
                <!-- Invoice Items Details -->
                <div id="invoice-items-details" class="pt-2">
                    @if (!String.IsNullOrEmpty(Model.Objectives.ToString()))
                    {
                        <div class="row">
                            <div class="table-responsive col-sm-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center; font-size: 30px">Objectives</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td>
                                                <p id="format-Meeting">@Model.Objectives</p>

                                            </td>

                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    }
                    

                    <div class="row">
                        <div class="table-responsive col-sm-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th style="text-align: center; font-size: 30px">Content</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>
                                            <p id="format-Meeting">@Model.Content</p>

                                        </td>

                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="table-responsive col-sm-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Email</th>
                                        <th>Action</th>
                                        <th>Deadline</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @Html.Action("Index", "Actions", new { MeetingMinute_id = Model.ID, Group_id = Model.Group_ID })

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive col-sm-12">
                            <table class="table">

                                <tbody>
                                    <tr>
                                        <td>
                                            <b>Issues</b>

                                        </td>
                                        <td>
                                            <p>@Model.Issues</p>

                                        </td>
                                        <td>
                                            <b>N/A</b>

                                        </td>
                                        <td>@Model.NA</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <!-- Invoice Footer -->
                <div id="invoice-footer">
                    <div class="row">

                        <div class="col-md-3 col-sm-12 text-center">
                            <button type="button" class="btn btn-primary my-1"><i class="fa fa-paper-plane-o"></i> Edit</button>
                        </div>
                    </div>
                </div>
                <!--/ Invoice Footer -->
            </div>
        </div>
    </div>
</section>


