@model IEnumerable<MeetingVL.Models.MeetingMinute>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
    int session_id = int.Parse(TempData["session_id"].ToString());
}

@foreach (var item in Model)
{
    <a href="@Url.Action("Index","Projects",new { category_id = item.ID})">
        <div class="card border-left my-4 border-primary border-3">
            <div class="card-block pt-3">
                <div class="clearfix">
                    @if (item.Group_ID != null)
                    {
                        <h5 class="text-bold-500 primary float-left">@item.Group.Name </h5>
                    }
                    else
                    {
                        <h5 class="text-bold-500 primary float-left">Meeting Minutes - @item.User.Email </h5>
                    }
                    <div class="actions float-right">
                        <i class="ft-edit mr-1 info"></i>
                        <i class="ft-trash-2 danger"></i>
                    </div>
                </div>
                <p id="format-true" style="color : dimgrey">@item.Content</p>
                <span class="primary display-inline-block pt-2">@item.Time</span>
                <img src="app-assets/img/portrait/small/avatar-s-3.jpg" class="rounded-circle width-50 mr-2 float-right" alt="user image">
            </div>
        </div>
        </a>
        }



        <p>
            @Html.ActionLink("Create New", "Create", new { session_id = session_id })
        </p>
      