@model IEnumerable<MeetingVL.Models.MeetingMinute>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
    int session_id = int.Parse(TempData["session_id"].ToString());
    string session_Name = TempData["session_Name"].ToString();
    int project_id = int.Parse(TempData["project_id"].ToString());
    string project_Name = TempData["project_Name"].ToString();
    string project_Description = "";
    if (TempData["project_Description"] != null)
    {
        project_Description = TempData["project_Description"].ToString();
    }
    int category_id = int.Parse(TempData["category_id"].ToString());
    string category_Name = TempData["category_Name"].ToString();
}


    <div class="row">
        <div class="col-sm-12">
            <ul class="header-controls-list">
                <li class="header-controls-item text-bold-400"><a href="@Url.Action("Index", "Categories")">Category</a></li>
                <ion-icon name="chevron-forward-outline" class="header-direction"></ion-icon>
                <li class="header-controls-item text-bold-400"><a href="@Url.Action("Index", "Projects", new {category_id = category_id })">@category_Name</a></li>
                <ion-icon name="chevron-forward-outline" class="header-direction"></ion-icon>
                <li class="header-controls-item text-bold-400"><a href="@Url.Action("Index", "Session_Reports", new {project_id = project_id, active = 1 })">@project_Name</a></li>                
                <ion-icon name="chevron-forward-outline" class="header-direction"></ion-icon>
                <li class="header-controls-item text-bold-400">@session_Name</li>

            </ul>
        </div>
        <div class="col-12 mt-3 mb-1 header-content-group">
            <h2 class="content-header col-10">@session_Name</h2>
            <a href="@Url.Action("Create", "MeetingMinutes", new { session_id = session_id })">
                <div class="col-2 " style="float: right; left: -45px">
                    <div id="btnAdd" class="btn btn-primary mb-2">
                        <i class="ft-plus"></i>
                        Create Meeting Minutes
                    </div>
                </div>
            </a>
           
        </div>
    </div>
    <!-- /.col-lg-6 -->
    @using (Html.BeginForm("Index", "Projects", FormMethod.Get))
    {
        @Html.Hidden("category_id", category_id)
        <div class="row">
            <div class="col-12">
                <div class="col-lg-6 input-wrap">
                    <div class="input-group">

                        <input type="text" class="form-control" placeholder="Search for..." name="keyword">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">Go!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- /.col-lg-6 -->

    @foreach (var item in Model)
    {
        <a href="@Url.Action("Index","Projects",new { category_id = item.ID})">
            <div class="card border-left my-4 border-primary border-3">
                <div class="card-block pt-3">
                    <div class="clearfix">
                        @if (item.Group_ID != null)
                        {
                            <h5 class="text-bold-500 primary float-left">@item.Group.Name </h5>
                        }
                        else
                        {
                            <h5 class="text-bold-500 primary float-left">Meeting Minutes - @item.User.Email </h5>
                        }
                        <div class="actions float-right">
                            <i class="ft-edit mr-1 info"></i>
                            <i class="ft-trash-2 danger"></i>
                        </div>
                    </div>
                    <p id="format-true" style="color : dimgrey">@item.Content</p>
                    <span class="primary display-inline-block pt-2">@item.Time</span>
                    <img src="app-assets/img/portrait/small/avatar-s-3.jpg" class="rounded-circle width-50 mr-2 float-right" alt="user image">
                </div>
            </div>
        </a>
    }



  