@model IEnumerable<MeetingVL.Models.MeetingMinute>

@{
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
    string session_Name = TempData["session_Name"].ToString();
}
<div class="row">    
    <div class="col-12 mt-3 mb-1 header-content-group">
        <h2 class="content-header col-10">@session_Name</h2>
        

    </div>
</div>
@foreach (var item in Model)
{
    string DeleteMeeting = "DeleteMeeting" + item.ID;
    <div class="card border-left my-4 border-primary border-3">
        <div class="card-block pt-3">
            <div class="clearfix">
                <a href="@Url.Action("Details", "MeetingMinutes", new { id = item.ID })">
                    @if (item.Group_ID != null)
                    {
                        <h5 class="text-bold-500 primary float-left">@item.Group.Name </h5>
                    }
                    else
                    {
                        <h5 class="text-bold-500 primary float-left">Meeting Minutes - @item.User.Email </h5>
                    }
                </a>
                
                
            </div>
            <a href="@Url.Action("Details", "MeetingMinutes", new { id = item.ID })">
                <p id="format-true" style="color : dimgrey">@item.Objectives</p>
            </a>

            <span class="primary display-inline-block pt-2">@item.Time</span>
            <img src="app-assets/img/portrait/small/avatar-s-3.jpg" class="rounded-circle width-50 mr-2 float-right" alt="user image">
        </div>
    </div>

}

