@model IEnumerable<MeetingVL.Models.MeetingMinute>

@{
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
    string session_Name = TempData["session_Name"].ToString();
   
    int group_id = int.Parse(TempData["group_id"].ToString());
        
    
}
<div class="row">
    <div class="col-sm-12">
        <ul class="header-controls-list">
            <li class="header-controls-item text-bold-400"><a href="@Url.Action("Index", "Categories")">Category</a></li>
            <ion-icon name="chevron-forward-outline" class="header-direction"></ion-icon>
            <li class="header-controls-item text-bold-400"><a href="@Url.Action("Index", "Projects", new {category_id = @Model.FirstOrDefault().SessionReport.Project.Category.ID })">@Model.FirstOrDefault().SessionReport.Project.Category.Name</a></li>
            <ion-icon name="chevron-forward-outline" class="header-direction"></ion-icon>
            <li class="header-controls-item text-bold-400"><a href="@Url.Action("Index", "Session_Reports", new {project_id = Model.FirstOrDefault().SessionReport.Project.ID, active = 1 })">@Model.FirstOrDefault().SessionReport.Project.Name</a></li>
            <ion-icon name="chevron-forward-outline" class="header-direction"></ion-icon>           
            <li class="header-controls-item text-bold-400">Semester</li>

        </ul>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-red">
                    <h2 class="card-title">@session_Name</h2>
                </div>
            </div>
        </div>
    </div>
</div>
@foreach (var item in Model)
{
    string DeleteMeeting = "DeleteMeeting" + item.ID;
    <div class="card border-left my-4 border-primary border-3">
        <div class="card-block pt-3">
            <div class="clearfix">
                <a href="@Url.Action("Details", "MeetingMinutes", new { id = item.ID, group_id = group_id  })">
                    @if (item.Group_ID != null)
                    {
                        <h5 class="text-bold-500 primary float-left">@item.Group.Name </h5>
                    }
                    else
                    {
                        <h5 class="text-bold-500 primary float-left">Meeting Minutes - @item.User.Email </h5>
                    }
                </a>


            </div>
            <a href="@Url.Action("Details", "MeetingMinutes", new { id = item.ID, group_id = group_id })">
                <p id="format-true" style="color : dimgrey">@item.Objectives</p>
            </a>

            <span class="primary display-inline-block pt-2">@item.Time</span>
            @if (item.User.Avt != null)
            {
                <img src="@Url.Content(item.User.Avt)" class="rounded-circle width-50 mr-2 float-right" alt="user image">

            }
            else
            {
                <img src="~/Template/app-assets/img/user.png" class="rounded-circle width-50 mr-2 float-right" alt="user image">
            }
        </div>
    </div>

}

