@model MeetingVL.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_VanLang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_VanLang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Token)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Token)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Access)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Access)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Majors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Majors)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
