@model MeetingVL.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
}
@if (Session["notification"] != null)
{
    <button type="button" hidden class="btn btn-lg btn-block btn-outline-success mb-2" id="type-success" onclick="test()">Success</button>
    <script>
            function test() {
                toastr.success('@Session["notification"].ToString()', 'Success');
            }
            window.onload = function () {
                document.getElementById('type-success').click();
            }
    </script>
    Session["notification"] = null;
}
<div class="container-fluid">
    <!--Invoice template starts-->
    <div class="row">
        <div class="col-md-12">
            <h4>Details User</h4>
        </div>
    </div>
    <section class="invoice-template">
        <div class="card">
            <div class="card-body p-3">
                <div id="invoice-template" class="card-block">
                    <!-- Invoice Company Details -->
                    <div id="invoice-company-details" class="row">
                        <div class="col-6 text-left">

                            <img src="~/Template/app-assets/img/LogoVL.png" alt="company logo" class="" width="70">
                            <ul class="px-0 list-unstyled">
                                <li class="text-bold-800">Van Lang University</li>
                            </ul>
                        </div>
                        <div class="col-6 text-right">
                            <h2>MeetingVL</h2>

                        </div>
                    </div>
                    <!--/ Invoice Company Details -->
                    <!-- Invoice Customer Details -->
                    <div id="invoice-customer-details" class="row pt-2">
                        <div class="col-sm-12 text-left">
                            <p class="text-muted">DETAILS</p>
                        </div>
                        <div class="col-6 text-left">
                            <ul class="px-0 list-unstyled">
                                <li class="text-bold-800"><b>Name:</b> @Model.Name</li>
                                <li><b>E-mail :</b> @Model.Email</li>
                                <li><b>Role :</b> @Model.Role</li>
                                <li><b>ID_VanLang :</b> @Model.ID_VanLang</li>
                                <li><b>State :</b> @Model.State</li>
                            </ul>
                        </div>
                        <div class="col-6 text-right">
                            <p><span class="text-muted"><b>Department :</b></span> @Model.Department</p>
                            <p><span class="text-muted"><b>Majors :</b></span> @Model.Majors</p>
                            <p><span class="text-muted"><b>Last_Access :</b></span> @Model.Last_Access</p>

                        </div>
                    </div>
                    <!--/ Invoice Customer Details -->

                    <div id="invoice-footer">
                        <div class="row">


                            <a href="@Url.Action("Index","Users")" class="btn mr-2 btn-info  btn-primary"> <i class="ft-arrow-left"></i> Come back</a>
                            <a id="btnAdd" class="btn btn-primary mr-2 complaint-add-row" style="position:inherit; left: 20px"> <i class="icon-pencil"></i> Edit User</a>
                        </div>
                    </div>
                    <!--/ Invoice Footer -->
                </div>
            </div>
        </div>
    </section>
    <!--Invoice template ends-->
</div>

<!--MODAL ADD ROW-->
<div class="modal-add-row">
    <div class="modal-container-fluid">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="card modal-card">
                    <div class="card-header">
                        <div class="card-title-wrap bar-success">
                            <div>
                                <h4 class="card-title" id="basic-layout-form">Update User</h4>
                            </div>
                        </div>
                        <div class="modal-close">
                            <i class="fa-solid fa-xmark modal-close-icon"></i>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="px-3">
                            @using (Html.BeginForm("Edit", "Users"))
                            {
                                @Html.AntiForgeryToken()

                                <form class="form">
                                    <div class="form-body">
                                        <h4 class="form-section">
                                            <i class="icon-user"></i> User Details
                                        </h4>
                                        <div class="row justify-content-md-center">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="projectinput1">Name</label>
                                                    <input type="text" id="projectinput1" value="@Model.Name" class="form-control" name="name">
                                                </div>
                                            </div>
                                            @if (Model.Email == Session["ID_User"].ToString())
                                            {
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput3">Role</label>
                                                        <select id="projectinput5" name="role" class="form-control" disabled>

                                                            <option value="@Model.Role" selected="" disabled>@Model.Role</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="projectinput3">Role</label>
                                                        <select id="projectinput5" name="role" class="form-control">
                                                            @if (Model.Role != null)
                                                            {
                                                                <option value="@Model.Role" selected="" disabled>@Model.Role</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="none" selected="" disabled="">Role</option>
                                                            }
                                                            <option value="Admin">Admin</option>
                                                            <option value="User">User</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            }

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="projectinput3">Department</label>
                                                    <input type="text" id="projectinput3" value="@Model.Department" class="form-control" name="department">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="projectinput3">Majors</label>
                                                    <input type="text" id="projectinput3" value="@Model.Majors" class="form-control" name="majors">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="projectinput3">E-mail</label>
                                                    @if (Model.Token != null)
                                                    {
                                                        <input type="text" id="projectinput3" value="@Model.Email" class="form-control" name="email" readonly
                                                               required="required" oninvalid="this.setCustomValidity('Please enter Email')" oninput="setCustomValidity('')">
                                                    }
                                                    else
                                                    {
                                                        <input type="text" id="projectinput3" value="@Model.Email" class="form-control" name="email"
                                                               required="required" oninvalid="this.setCustomValidity('Please enter Email')" oninput="setCustomValidity('')">
                                                    }

                                                </div>
                                            </div>
                                            @if (Model.Token != null)
                                            {
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="projectinput3">Status</label>
                                                        <select id="projectinput5" name="state" class="form-control">

                                                            @if (Model.State != null)
                                                            {
                                                                string state = "";
                                                                if (Model.State == true)
                                                                {
                                                                    state = "Enable";
                                                                }
                                                                else
                                                                {
                                                                    state = "Disable";
                                                                }
                                                                <option value="@Model.State" selected="" disabled="">@state</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="none" selected="" disabled="">Status</option>
                                                            }

                                                            <option value="true">Enable</option>
                                                            <option value="false">Disable</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>

                                    <div class="form-actions complaint-form">
                                        <button type="button" class="btn btn-danger mr-1 btn-cancel">
                                            <i class="icon-trash"></i> Cancel
                                        </button>
                                        <button type="submit" class="btn btn-success">
                                            <i class="icon-note"></i> Save
                                        </button>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END-->
