@model MeetingVL.Models.User

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout_MeetingVL.cshtml";
    string name = "";
    string avt = "";
    if (Session["Avt"] != null)
    {
        avt = Session["Avt"].ToString();
    }
    else
    {
        avt = "~/Template/app-assets/img/user.png";
    }
}

<div class="row">
    <div class="col-lg-12">
        <div id="about">
            <div class="profile__wrap">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="profile__thumb">

                            <img src="@Url.Content(avt)" alt="" class="profile__thumb-link">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-12">
                        <div class="profile__card">
                            <div class="profile__card-header">
                                <div class="profile__card-title-wrap">
                                    <div class="profile__card-title">@Model.Email</div>
                                </div>
                            </div>
                            <div class="profile__card-body">
                                <ul class="profile__list">
                                    @if (Model.Name != null)
                                    {
                                        name = Model.Name;
                                    }
                                    <li class="profile__item">
                                        <p class="profile__item-title">
                                            Name: <span class="profile__item-desc">@name</span>
                                        </p>
                                    </li>
                                    <li class="profile__item">
                                        <p class="profile__item-title">
                                            Email: <span class="profile__item-desc">@Model.Email</span>
                                        </p>
                                    </li>
                                    <li class="profile__item">
                                        <p class="profile__item-title">
                                            Department: <span class="profile__item-desc">@Model.Department</span>
                                        </p>
                                    </li>
                                    <li class="profile__item">
                                        <p class="profile__item-title">
                                            Majors: <span class="profile__item-desc">@Model.Majors</span>
                                        </p>
                                    </li>
                                    <li class="profile__item">
                                        <p class="profile__item-title">
                                            Role: <span class="profile__item-desc">@Model.Role</span>
                                        </p>
                                    </li>
                                    


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class=" btn btn-warning my-1" data-toggle="modal" data-target="#iconModal"><i class="fa ft-edit-3"></i> Edit Profile</button>
<div class="modal fade text-left show" id="iconModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel34">Edit Profile</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("Edit_Profile", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    
                    <label class="fileContainer text-center">

                        <br />
                        <img id="blah" src="@Url.Content(avt)" width="200" alt="Image preview...">
                        <label for="exampleFormControlFile1" style="color: #808080"></label>
                        <input accept="image/*" name="avt" type="file" class="form-control-file" id="exampleFormControlFile1">
                        <label class="control-label" for="input">New Avtatar</label>

                        <script>
                            exampleFormControlFile1.onchange = evt => {
                                const [file] = exampleFormControlFile1.files
                                if (file) {
                                    blah.src = URL.createObjectURL(file)
                                }
                            }
                        </script>
                    </label>
                    <br />

                    <label>Email : </label>
                    <div class="form-group position-relative has-icon-left">
                        <input type="text" placeholder="Email" class="form-control" value="@Model.Email" readonly />

                        <label>Name : </label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="text" placeholder="Name" class="form-control" name="name" value="@Model.Name">

                        </div>
                        <label>Department : </label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="text" placeholder="Department" class="form-control" name="department" value="@Model.Department">

                        </div>
                        <label>Majors : </label>
                        <div class="form-group position-relative has-icon-left">
                            <input type="text" placeholder="Majors" class="form-control" name="majors" value="@Model.Majors">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn grey btn-outline-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-outline-primary">Save</button>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

