@model IEnumerable<MeetingVL.Models.Action>

@{
    Layout = null;
    int row = 0;
    int group_id = 0;
    if (TempData["Group_id"] != null)
    {
        group_id = int.Parse(TempData["Group_id"].ToString());
    }

    int project_id = int.Parse(TempData["Project_id"].ToString());
    string User_id =  Session["ID_User"].ToString();
}

@foreach (var item in Model)
{
    row++;
    string EditAction = "EditAction" + item.ID;
    string DeleteAction = "DeleteAction" + item.ID;

    <tr>
        <th scope="row">@row</th>
        <td>
            <p>@item.User_ID</p>

        </td>
        <td id="format-Meeting">@item.Work</td>
        <td>@item.Deadline</td>
        <td id="format-Meeting">@item.Description</td>
        
    </tr>
}


